body {
  font-family         : "Onest", sans-serif;
  font-optical-sizing : auto;
  font-style          : normal;
  font-size           : 16;
  line-height         : map-get($main_settings, 'line-height');
  color               : map-get($main_settings, 'text-color');
}

p {
  margin-top : 0;
  &:not(:last-child) {
    margin-bottom : map-get($main_settings, 'redactor-elem-margin-bottom');
  }
  &:last-child {
    margin-bottom : 0;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
  &:not(.link-reset) {
    transition: color .15s;

    svg {
      transition: fill .15s;
    }

    &:hover {
      color: #0091FF;
      svg {
        fill: #0091FF;
      }
    }
  }
}

ul,ol {
  &.list-reset {
    margin : 0;
    padding : 0;
    list-style-type : none;
    list-style-position  : inside;
  }
  &:not(.list-reset){
    li:not(:last-child) {
      margin-bottom : map-get($main_settings, 'redactor-elem-margin-bottom');
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top : 0;
  font-weight   : map-get($main_settings, 'title-font-weght');
  margin-bottom : map-get($main_settings, 'title-margin-bottom');
}

.uppercase {
  text-transform : uppercase;
}
