$default_settings : (
        fotn-size: 16px,
        line-height: 1,
        redactor-elem-margin-bottom: 8px,
        title-font-weght: 500,
        title-margin-bottom: 20px,
        list-padding-left: 40px
);