$fonts-weights: (
    regular: 400,
    medium: 500
);

$text-sizes : (
    //heading: (
    //    lg: (
    //        default: (
    //            line-height: 1,
    //            font-size: 80px,
    //            letter-spacing: -3px
    //        ),
    //        breakpoints: (
    //            md: (
    //                font-size : 90px,
    //                letter-spacing : -3.5px,
    //            ),
    //            xl: (
    //                font-size : 100px,
    //                letter-spacing : -4px,
    //            ),
    //        )
    //    ),
    //    md: (
    //        default: (
    //            line-height: 1,
    //            font-size: 40px,
    //            letter-spacing: -0.8px
    //        ),
    //        breakpoints: (
    //            md: (
    //                font-size : 55px,
    //                letter-spacing : -1px,
    //            ),
    //            xl: (
    //                font-size : 64px,
    //                letter-spacing : -1.3px,
    //            ),
    //        )
    //    ),
    //),
);
